<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="inputFilePath" value="..\..\..\TestTextSource\TestTextFile.txt"/>
    <add key="outputFilePath" value="..\..\..\TestTextSource\Output.txt"/>
    <add key="logerFilePath" value="..\..\..\TestTextSource\ParserLog.txt"/>
    <add key="correctSubStringPath" value="..\..\..\TestTextSource\CorrectSubString.txt"/>
    <add key="incorrectSubStringPath" value="..\..\..\TestTextSource\IncorrectSubString.txt"/>
    <add key="outputFilePath" value="..\..\..\TestTextSource\Output.txt"/>
  </appSettings>
</configuration>